<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<log4net>
		<!-- Write logs to files in a rolling manner -->
		<!-- Split log files by date, and use the date as the name of the log file -->
		<!--Error-->
		<appender name="ErrorLog" type="log4net.Appender.RollingFileAppender">
			<file value="Log/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<!--Date format, records in a new file every day, must be set, otherwise only one day's logs will be recorded forever-->
			<datePattern value="&quot;ErrorLogs_&quot;yyyyMMdd&quot;.log&quot;" />
			<!--Whether the log file name is static-->
			<StaticLogFileName value="false" />
			<!--Use minimal locking in multi-threading-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<!--Layout (to display the last formatted output information to the user)-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date| %-5level %newline%message%newline--------------------------------%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ALL" />
				<levelMax value="FATAL" />
			</filter>
		</appender>
		<!--Error-->

		<!--Info-->
		<appender name="InfoLog" type="log4net.Appender.RollingFileAppender">
			<!--Define the file storage location-->
			<file value="Log/" />
			<appendToFile value="true" />
			<rollingStyle value="Date" />
			<!--Whether the log file name is static-->
			<StaticLogFileName value="false" />
			<!--Date format, records in a new file every day, must be set, otherwise only one day's logs will be recorded forever-->
			<datePattern value="&quot;InfoLogs_&quot;yyyyMMdd&quot;.log&quot;" />
			<!--Use minimal locking in multi-threading-->
			<lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
			<!--Layout (to display the last formatted output information to the user)-->
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date| %-5level%c %newline%message%newline--------------------------------%newline" />
			</layout>
			<filter type="log4net.Filter.LevelRangeFilter">
				<levelMin value="ALL" />
				<levelMax value="WARN" />
			</filter>
		</appender>
		<!--Info-->

		<root>
			<!-- Control level, from low to high: ALL|DEBUG|INFO|WARN|ERROR|FATAL|OFF -->
			<!-- For example, if the level is defined as INFO, logs below INFO level, such as DEBUG logs, will not be recorded -->
			<!-- If LEVEL value is not defined, it defaults to DEBUG -->
			<level value="ALL" />
			<!-- Split log files by date, and use the date as the name of the log file -->
			<appender-ref ref="ErrorLog" />
			<appender-ref ref="InfoLog" />
		</root>
	</log4net>
</configuration>
